body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffcc00;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  z-index: -1;
}

.component-image {
  position: absolute;
  z-index: -1; /* Place it behind other content */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5rem;
}

.component-selection {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 100px;
}

.component-selection button {
  background-color: transparent;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 48px;
  font-weight: bold;
  border-radius: 0.5em;
}

.component-selection button.selected-component span {
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}

.component-selection button:hover {
  background-color: #080808;
}








